<mat-card *ngIf="content !== undefined" class="contentCard">
  <mat-card-content class="cardContent">
    <img src="{{content.thumbnail}}" />
  </mat-card-content>

  <mat-card-title class="contentSub">
    <img src="{{content.creator.avatar}}" class="avatar">
    <div class="contentTextBlock">
      <span>{{content.name}}{{content.name}}{{content.name}}{{content.name}}{{content.name}}</span>
      <div >
        <p class="contentText">{{content.creator.name}}</p>
        <p class="contentText">{{content.views}} * {{content.createdAt | dateTimeToRelative}}</p>
      </div>
    </div>
  </mat-card-title>

</mat-card>

<!--
<video width="344px" height="193px"
           poster="{{content.thumbnail}}">
      <source src="{{content.url}}" type="video/mp4"/>
    </video>
-->
